p {
    color: red;
    font-size: 24px;
}
.text-one {
    color: green;
}
.text-two {
    color: blue;
    background-color: yellow;
}
#text-three {
    font-family: Arial, Helvetica, sans-serif;
    color: pink;

}
